*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
media/jniLibs/arm64-v8a/libmedia.so
media/jniLibs/armeabi-v7a/libmedia.so
media/jniLibs/x86/libmedia.so
media/jniLibs/x86_64/libmedia.so
media/jniLibs/arm64-v8a/libmp3lame.so
media/jniLibs/armeabi-v7a/libmp3lame.so
media/jniLibs/x86/libmp3lame.so
media/jniLibs/x86_64/libmp3lame.so
