*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
recorder/jniLibs/arm64-v8a/librecorder.so
recorder/jniLibs/armeabi-v7a/librecorder.so
recorder/jniLibs/x86/librecorder.so
recorder/jniLibs/x86_64/librecorder.so
recorder/jniLibs/arm64-v8a/libmp3lame.so
recorder/jniLibs/armeabi-v7a/libmp3lame.so
recorder/jniLibs/x86/libmp3lame.so
recorder/jniLibs/x86_64/libmp3lame.so
